[Unit]
Description=Barrier Service
After=graphical.target

[Service]
ExecStart=/usr/bin/barrier --no-tray
User=brenner
Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=multi-user.target
