[Unit]
Description=Flameshot
After=graphical.target

[Service]
ExecStartPre=/usr/bin/sleep 10
ExecStart=/usr/bin/flameshot
User=brenner
# Restart=always
Environment=DISPLAY=:0

[Install]
WantedBy=graphical.target
